// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
  border: 1px solid black;
  float:left;

  width: 700px;
  height: 700px;
}


.center-container {
  margin:0 auto;
  width: 957px;
  margin-top: 100px;
}

.features {
  width: 883px;
  margin: 0 auto;
  height: 700px;
  margin-top: 68px;
}

.input-listing{
  float:left;
  margin-right: 59px;
}

.center-container:after{
  content: "";
  display: block;
  clear: both;

}

.import-container {
  right: 0;
  top: 0;
  position: absolute;
}

.import-button {
  margin-top: 10px;
}
